<h3><%= @question.title %> </h3>
<form action='/question/<%= @question.id %>' method='post'>
  <input name='_method' type='hidden' value='patch'>
  <label for='name'>Change the question.</label>
  <input id='name' name='name' type='text'>

  <button type='submit'>Update</button>
</form>

<form action='/question/<%= @question.id%>' method='post'>
  <input name='_method' type='hidden' value='delete'>

  <button type='submit'>Delete question</button>

  <a href='/questions'>Return to question list</a>
</form>
