<h3>Survey Builder</h3>

<form action='survey' method='post'>
  <label for='title'>Survey Title</label>
  <input id='title' name='title' type='text'>

  <button type='submit' class='btn'>Create Survey.</button>
</form>
